# Private BLS staking/consensus key.
# Mandatory: yes if you are not using ESPRESSO_SEQUENCER_KEY_FILE.
ESPRESSO_SEQUENCER_PRIVATE_STAKING_KEY=BLS_SIGNING_KEY~hwmM7PbDDu8eX1Adi-e

# Private Schnorr state key.
# Mandatory: yes if you are not using ESPRESSO_SEQUENCER_KEY_FILE.
ESPRESSO_SEQUENCER_PRIVATE_STATE_KEY=SCHNORR_SIGNING_KEY~PEDbG
