# Private BLS staking/consensus key.
# Mandatory: yes if you are not using ESPRESSO_SEQUENCER_KEY_FILE.
ESPRESSO_SEQUENCER_PRIVATE_STAKING_KEY=${ESPRESSO_SEQUENCER_PRIVATE_STAKING_KEY:?error}

# Private Schnorr state key.
# Mandatory: yes if you are not using ESPRESSO_SEQUENCER_KEY_FILE.
ESPRESSO_SEQUENCER_PRIVATE_STATE_KEY=${ESPRESSO_SEQUENCER_PRIVATE_STATE_KEY:?error}
