RUST_LOG=info,hotshot_libp2p_networking=off

ESPRESSO_SEQUENCER_API_PORT={{ espresso.validator.ports.api_port }}
ESPRESSO_SEQUENCER_API_BIND_ADDRESS=0.0.0.0:{{ espresso.validator.ports.api_port }}

ESPRESSO_SEQUENCER_CLIQUENET_BIND_ADDRESS=0.0.0.0:{{ espresso.validator.ports.cliquent_port }}

ESPRESSO_SEQUENCER_GENESIS_FILE={{ node_genesis_file_path }}
ESPRESSO_SEQUENCER_STORAGE_PATH={{ node_data_dir }}

ESPRESSO_SEQUENCER_API_PEERS={{ espresso.validator.peers_list }}
ESPRESSO_SEQUENCER_CONFIG_PEERS={{ espresso.validator.peers_list }}
ESPRESSO_SEQUENCER_STATE_PEERS={{ espresso.validator.peers_list }}
ESPRESSO_STATE_RELAY_SERVER_URL={{ espresso.validator.state_relay_url }}

ESPRESSO_SEQUENCER_CDN_ENDPOINT={{ espresso.validator.cdn_endpoint }}

ESPRESSO_SEQUENCER_LIBP2P_BIND_ADDRESS=0.0.0.0:{{ espresso.validator.ports.p2p_port }}
ESPRESSO_SEQUENCER_LIBP2P_ADVERTISE_ADDRESS={{ ansible_default_ipv4.address }}:{{ espresso.validator.ports.p2p_port }}
ESPRESSO_SEQUENCER_LIBP2P_BOOTSTRAP_NODES={{ espresso.validator.bootstrap_nodes | join(',') }}

ESPRESSO_SEQUENCER_L1_PROVIDER=http://ts.nethermind.execution.ethereum.mainnet.encapsulate.xyz:8545
ESPRESSO_SEQUENCER_L1_WS_PROVIDER=ws://ts.nethermind.execution.ethereum.mainnet.encapsulate.xyz:8545/ws
ESPRESSO_SEQUENCER_L1_FINALIZED_SAFETY_MARGIN=100

ESPRESSO_SEQUENCER_IDENTITY_NODE_NAME=Encapsulate
ESPRESSO_SEQUENCER_IDENTITY_COMPANY_NAME=Encapsulate
ESPRESSO_SEQUENCER_IDENTITY_NODE_DESCRIPTION='Backed by five years of experience Encapsulate secures 40+ networks with nearly half a billion dollars in delegated stake delivering industry-leading uptime rigorous security and community-driven open-source tools'
ESPRESSO_SEQUENCER_IDENTITY_COMPANY_WEBSITE=https://encapsulate.xyz
ESPRESSO_SEQUENCER_IDENTITY_OPERATING_SYSTEM=Linux

ESPRESSO_SEQUENCER_IDENTITY_NETWORK_TYPE=VULTR
ESPRESSO_SEQUENCER_IDENTITY_COUNTRY_CODE=IN
ESPRESSO_SEQUENCER_IDENTITY_LATITUDE=12.971599
ESPRESSO_SEQUENCER_IDENTITY_LONGITUDE=77.594566

ESPRESSO_SEQUENCER_IDENTITY_ICON_14x14_1x=https://raw.githubusercontent.com/encapsulate-xyz/assets/refs/heads/main/encapsulate.png
ESPRESSO_SEQUENCER_IDENTITY_ICON_14x14_2x=https://raw.githubusercontent.com/encapsulate-xyz/assets/refs/heads/main/encapsulate.png
ESPRESSO_SEQUENCER_IDENTITY_ICON_14x14_3x=https://raw.githubusercontent.com/encapsulate-xyz/assets/refs/heads/main/encapsulate.png
ESPRESSO_SEQUENCER_IDENTITY_ICON_24x24_1x=https://raw.githubusercontent.com/encapsulate-xyz/assets/refs/heads/main/encapsulate.png
ESPRESSO_SEQUENCER_IDENTITY_ICON_24x24_2x=https://raw.githubusercontent.com/encapsulate-xyz/assets/refs/heads/main/encapsulate.png
ESPRESSO_SEQUENCER_IDENTITY_ICON_24x24_3x=https://raw.githubusercontent.com/encapsulate-xyz/assets/refs/heads/main/encapsulate.png
